<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper
 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="restaurant">
	<resultMap type="RestaurantVO" id="restaurantResult">
		<id property="code" column="code"/>
		<result property="menu" column="menu"/>
		<result property="name" column="name"/>
		<result property="reg_id" column="reg_id"/>
		<result property="reg_date" column="reg_date"/>
		<result property="tag" column="tag"/>
		<result property="use_yn" column="use_yn"/>
		<result property="update_id" column="update_id"/>
		<result property="img_seq" column="img_seq"/>
		<result property="update_date" column="update_date"/>
	</resultMap>		
	<resultMap type="RestaurantVO" id="restaurantImage">
		<id property="code" column="code"/>
		<result property="menu" column="menu"/>
		<result property="name" column="name"/>
		<result property="reg_id" column="reg_id"/>
		<result property="reg_date" column="reg_date"/>
		<result property="tag" column="tag"/>
		<result property="use_yn" column="use_yn"/>
		<result property="update_id" column="update_id"/>
		<result property="img_seq" column="img_seq"/>
		<result property="update_date" column="update_date"/>
		<association property="imageVO" javaType="ImageVO">
			<id property="seq" column="seq"/>
			<result property="real_name" column="real_name"/>
			<result property="change_name" column="change_name"/>
			<result property="file_path" column="file_path"/>
			<result property="reg_date" column="reg_date"/>
			<result property="code" column="code"/>
		</association>
	</resultMap>		
	<resultMap type="ImageVO" id="imageResult">
		<id property="seq" column="seq"/>
		<result property="real_name" column="real_name"/>
		<result property="change_name" column="change_name"/>
		<result property="file_path" column="file_path"/>
		<result property="reg_date" column="reg_date"/>
		<result property="code" column="code"/>
	</resultMap>
	<resultMap type="ReplyVO" id="replyResult">
		<id property="seq" column="seq"/>
		<result property="content" column="content"/>
		<result property="member_code" column="member_code"/>
		<result property="write_date" column="write_date"/>
		<result property="restaurant_code" column="restaurant_code"/>
		<result property="name" column="name"/>
		<result property="id" column="id"/>
	</resultMap>
	
	<select id="selectMaxRestaurantCode" resultType="String">
		select max(substring_index(code, 'R', -1)+0) 
		from tb_restaurant ;
	</select>
	
	<select id="selectMaxImgSeq" resultType="Integer">
		select ifnull(max(seq), 0)
		from tb_image
	</select>
	
	<insert id="insertRestaurant" parameterType="map">
		insert into
		tb_restaurant(
			code,
			menu,
			name,
			reg_id,
			reg_date,
			tag,
			use_yn,
			update_id,
			update_date
		)
		values(
			#{code},
			#{menu},
			#{name},
			#{reg_id},
			now(),
			#{tag},
			#{use_yn},
			#{update_id},
			now()
		)
	</insert>
	
	<insert id="insertImageFile" parameterType="map">
		insert into
		tb_image(
			seq,
			real_name,
			change_name,
			file_path,
			reg_date,
			code
		)
		values(
			#{seq},
			#{real_name},
			#{change_name},
			#{file_path},
			now(),
			#{code}
		)
	</insert>
	
	<select id="selectRestaurantDetailtoCode" parameterType="map" resultMap="restaurantImage">
		select *
		from
			tb_restaurant as r
		left join
			tb_image i
		on r.code = i.code	
		where
			r.code = #{code}
	</select>
	
	<delete id="deleteRestaurant" parameterType="String">
		delete 
		from tb_restaurant
		where code = #{code}
	</delete>
	
	<delete id="deleteImage" parameterType="String">
		delete 
		from tb_image
		where code = #{code}
	</delete>
	
	<update id="updateRestaurant" parameterType="map">
		update
			tb_restaurant
		set
			menu = #{menu}, 
			name = #{name}, 
			tag = #{tag}, 
			update_id = #{update_id},
			update_date = now(),
			use_yn = #{use_yn}
		where
			code = #{code}
	</update>
	
	<update id="upeateImageFile" parameterType="map">
		update
			tb_image
		set
			real_name = #{real_name},
			change_name = #{change_name},
			file_path = #{file_path}
		where
			code = #{code}
	</update>
	
	<select id="selectMaxReplySeq" resultType="Integer">
		select ifnull(max(seq), 0)
		from tb_reply
	</select>
	
	<select id="selectReplyContent" resultMap="replyResult" parameterType="String">
		select
			r.seq,
			r.content,
			r.write_date,
			r.member_code,
			m.name,
			m.id
		from
			tb_reply r
			left join
			tb_member m
		on
			r.member_code = m.code
		where
			r.restaurant_code = #{code}
		order by
			r.write_date desc
	</select>
	
	<insert id="insertRestaurantReply" parameterType="ReplyVO">
			insert into 
			tb_reply(
				seq, 
				content, 
				member_code, 
				write_date, 
				restaurant_code
				)
			values(
				#{seq},
				#{content},
				#{member_code},
				now(), 
				#{restaurant_code}
			)
	</insert>
	
	<delete id="deleteRestaurantReply" parameterType="ReplyVO">
		delete
		from
			tb_reply
		where
			restaurant_code = #{restaurant_code}
		and
			seq = #{seq}
	</delete>
	
	<select id="selectRestaurantInfo" resultType="map">
		select 
	   		r.code as code,
            i.change_name as change_name,
            i.real_name as real_name,
            r.name as name
		from 
			tb_restaurant as r
		left join
			tb_image as i
		on
			i.code = r.code	
		order by 
			r.reg_date
	</select>
	
	<select id="selectRestaurantMemberCode" resultType="String" parameterType="String">
		select 
			code
		from
			tb_member
		where
			id = #{param}
	</select>
	
	<select id="selectFamilyMembers" resultType="int" parameterType="map">
		select
			count(fm.member_code)
		from
			tb_family as f
		left join
			tb_family_member as fm
		on
			f.seq = fm.family_seq
		where
			date(f.reg_date) = curdate()
		and
			fm.member_code = #{member_code}
		and
			meal_type = #{meal_type}
	</select>
	
	<select id="selectRestaurantNameCheck" resultType="int" parameterType="String">
		select
			count(name)
		from 
			tb_restaurant
		where
			name = #{restaurnat_name}
	</select>
	
	<select id="selectSearchRestaurant" parameterType="String" resultType="map">
		select 
			r.name as name, 
      		i.file_path as file_path,
       		i.change_name as change_name, 
		   	r.code as code
	  	from 
	  		tb_restaurant as r 
	  	left join 
	  		tb_image as i 
	  	on 
	  		r.code = i.code 
		where 
			(r.name like concat('%', #{search_word}, '%')  or  r.menu like concat('%', #{search_word},'%')  or  r.tag like concat('%', #{search_word},'%'))
		order by 
			r.reg_date  		
	</select>
	
	<select id="selectCheckImage" parameterType="String" resultType="int">
		select
			count(real_name)
		from
			tb_image
		where
			code = #{code}
	</select>	
</mapper>