@CHARSET "UTF-8";


.loginForm{
	width: 250px;
	height: 200px;
	border: 1px;
	border-style: solid;
	margin: 10% 40% 10% 44%;
	text-align: center;
}
.g-signin2{
	width: 120px;
	height: 35px;
	margin-left: 25%;
	padding-top: 20px;
	padding-bottom: 50px;
}

h4{
	padding: 10px;
}